body
{
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

header
{
    margin-bottom: 30px;
}

nav
{
    float: right;
}

.nav-item
{
    width: 140px;
    margin-top: 10px;
}

nav>ul li>#selected
{
    background-color: #6b53ff;
}

.nav-item a
{
    font-size: larger;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0e7dff;
    color: white;
}

.nav>li>a:hover
{
    background-color: steelblue;
    color: white;
}

.nav-pills li
{
    margin-left: 10px;
}

.logo
{
    height: 60px;
    margin-top: 8px;
    margin-left: 2px;
}

.sidebar
{
    float: left;
    width: 30%;
    background-color: #9bcbff;
    padding: 50px;
    max-height: 100%;
    flex: 1;
}

.sidebar>h2
{
    padding-bottom: 15px;
}


.content
{
    float: right;
    width: 68%;
    padding-left: 12px;
    margin-top: -12px;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 10px;
}

.content>p
{
    font-size: large;
}

.content>h1
{
    color: #6b53ff;
    margin-bottom: -30px;
    margin-top: 3px;
    font-family: "Segoe UI Black", sans-serif;
}

.content>.lists>h2
{
    font-family: "Segoe UI Semibold", sans-serif;
}

.content>h2
{
    font-family: "Segoe UI Semibold", sans-serif;
    margin-bottom: 30px;
}

.content>.links>h4
{
    margin-top: 20px;
}

.content>.lists>h3
{
    font-family: "Segoe UI Semilight", sans-serif;
}

.content>div>ul li
{
    font-size: 22px;

}

.content>.lists
{
    margin-top: 60px;
}

.content>.lists>ul li>span
{
    font-weight: 500;
}

.content>.lists>p>span
{
    font-weight: 500;
    font-size: larger;
}

.content>.lists>p
{
    padding-top: 5px;
    font-size: large;
}

.content>.links a
{
    font-size: x-large;
}

.content>.links>.linksDesc
{
    font-size: large;
}

.mid
{
    margin-left: 12px;
    margin-bottom: 50px;
    margin-top: 60px;
}


.form-control
{
    margin-bottom: 20px;
}

label
{
    margin-bottom: 5px;
}

button
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mid>hr
{
    margin-bottom: 20px;
}

body>hr
{
    clear: both;
}

table td
{
    padding: 20px 30px 30px 20px;
}

table td>img
{
    height: 500px;
    vertical-align: middle;
}

table td>h3
{
    font-family: "Segoe UI Semilight", sans-serif;
}

table td>#date
{
    font-weight: 500;
}

table td>#desc
{
    font-size: large;
}

footer
{
    text-align: center;
    clear: both;
    padding-top: 10px;
}